.options {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  button {
    background-color: #0074ef;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover,
  button:active {
    background-color: #0154ad;
  }
  
  
  